# Project ignores
app.log
database.sqlite

# Editor ignores
.idea/
.vscode/settings.json

# Python ignores
poetry.lock
__pycache__/
dist/
venv/
.venv/
.mypy_cache/

# Tests ignores
.coverage
.pytest_cache/
htmlcov/
report.xml
test_audio_result/

# OS ignores
.DS_Store
